@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@font-face {
	font-family: 'Cooper';
	src: url('../fonts/Cooper Black Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

:root {
	--color-black: #000000;
	--color-white: #f5f5f5;
	--color-0: #e1dddd;
	--color-1: #cac4c4;
	--color-2: #a6dbd3;
	--color-purple: #282b7d;
	--color-transparency: #00000033;
	--color-coral: #fc534d;
	--color-5: #0774ab;
	--color-6: #20a6ce;
	--font-base: 'Poppins', cursive;
	--font-title-head: 'Lobster', cursive;
	--font-highlights: 'Cooper';
	--linear-gradient: linear-gradient(to right, #58287d, #cd544e);
}

* {
	padding: 0;
	margin: 0;
	outline: 0;
	box-sizing: border-box;
}

*:hover {
	transition: all 0.15s ease-in;
}

html,
body {
	font-size: 14px;
	font-family: var(--fonte-base), sans-serif;
	scroll-behavior: smooth;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

html {
	scroll-behavior: smooth;
	background-color: var(--color-purple);
	color: var(--color-white);
}

body {
	height: 100vh;
	width: 100vw;
	text-align: center;
}

a {
	text-decoration: none;
	color: inherit;
}

section {
	margin-top: 3rem;
}

header {
	width: 100%;
	height: 6rem;
}

main,
.left,
.right,
.buttons,
#sectionOne,
#introduction {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}

#sectionOne {
	margin-top: 1rem;
}

#sectionOne .box-title {
	width: 22rem;
	text-align: left;
	padding: 1.6rem 4rem;
	margin-top: 1.5rem;
}

.background-dark {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	border-radius: 1.25rem;
	background-color: var(--color-transparency);
}

h1 {
	font-size: 1.25rem;
	text-shadow: 0.125rem 0.125rem 0.125rem var(--color-black);
}

h1 .highlight {
	font-size: 2.5rem;
}

.highlight {
	font-family: var(--font-highlights);
}

#sectionOne .description {
	margin: 15rem auto 0;
	width: 15rem;
}

.description {
	font-size: 1rem;
}

.button {
	margin-top: 0.75rem;
	width: 17.5rem;
	height: 2.7rem;
	border-radius: 1rem;
	border: 0.05rem solid var(--color-coral);
	background-color: var(--color-coral);
	color: var(--color-white);
}

.filled {
	background-color: var(--color-transparency);
	color: var(--color-coral);
}

.main-image {
	position: absolute;
	top: 14rem;
}

.image {
	width: 19rem;
}

img {
	width: 100%;
	height: 100%;
	opacity: 0.8;
}

#introduction {
	width: 22rem;
	padding: 1.6rem;
}

#introduction .right {
	align-items: flex-start;
}

#introduction h2.highlight {
	width: 80%;
	font-size: 1.5rem;
	text-shadow: 0.05rem 0.05rem 0.05rem var(--color-black);
}

#introduction .description {
	margin: 1rem auto;
}

#statistics,
#statistics .left,
#statistics .right,
#statistics .box-statistic {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#statistics {
	background: var(--linear-gradient);
	width: 100%;
	height: 70rem;
}

#statistics .left,
#statistics .right {
	width: 100%;
	height: 35rem;
}

#statistics .box-statistic {
	justify-content: space-evenly;
	width: 15rem;
	height: 15rem;
}

#statistics .box-statistic h3.highlight {
	font-size: 3rem;
}

#statistics .box-statistic {
}

@media (min-width: 720px) {
	body {
		text-align: left;
	}

	#sectionOne,
	#introduction {
		justify-content: center;
		width: 50rem;
	}

	#sectionOne,
	.buttons {
		flex-direction: row;
	}

	#sectionOne {
		margin-top: 3rem;
	}

	#sectionOne .left,
	#sectionOne .right {
		align-items: flex-start;
	}

	#sectionOne .left {
		z-index: 1;
	}

	#sectionOne .description {
		padding-left: 1rem;
		margin: 1rem 0;
		width: 25rem;
	}

	#sectionOne .buttons {
		justify-content: space-between;
		width: 36rem;
	}

	#sectionOne .main-image {
		margin-left: -20%;
		width: 25rem;
		top: 5.8rem;
	}

	#introduction {
		flex-direction: row-reverse;
		height: 24rem;
	}

	#introduction .right {
		height: 100%;
		width: 80%;
		justify-content: center;
	}

	#statistics {
		align-items: center;
		flex-direction: row;
		height: 35rem;
	}

	#statistics .left,
	#statistics .right {
		width: 40%;
		margin: auto;
	}

	#statistics .left {
		align-items: flex-end;
	}

	#statistics .right {
		align-items: flex-start;
	}
}

@media (min-width: 1280px) {
	#sectionOne .main-image {
		margin-left: -12%;
		width: 25rem;
		top: 5.8rem;
	}

	#statistics,
	#statistics .left,
	#statistics .right {
		flex-direction: row;
		align-items: center;
		height: 20rem;
	}

	#statistics .left,
	#statistics .right {
		width: 100%;
		margin: 0;
	}
}
