@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@font-face {
	font-family: 'Cooper';
	src: url('../fonts/Cooper Black Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

:root {
	--color-black: #000000;
	--color-white: #f5f5f5;
	--color-0: #e1dddd;
	--color-1: #cac4c4;
	--color-2: #a6dbd3;
	--color-purple: #282b7d;
	--color-purple-dark: #252265;
	--color-hover: #ffffff1a;
	--color-transparency: #00000033;
	--color-coral: #fc534d;
	--color-5: #0774ab;
	--color-6: #20a6ce;
	--font-base: 'Poppins', cursive;
	--font-title-head: 'Lobster', cursive;
	--font-highlights: 'Cooper';
	--linear-gradient: linear-gradient(to right, #58287d, #cd544e);
}

* {
	padding: 0;
	margin: 0;
	outline: 0;
	box-sizing: border-box;
}

*:hover {
	transition: all 0.15s ease-in;
}

a:hover {
	background: var(--color-hover);
}

html,
body {
	font-size: 14px;
	font-family: var(--fonte-base), sans-serif;
	scroll-behavior: smooth;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

html {
	scroll-behavior: smooth;
	background-color: var(--color-purple);
	color: var(--color-white);
}

body {
	height: 100vh;
	width: 100vw;
	text-align: center;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}

section,
footer {
	margin-top: 3rem;
}

body > header {
	position: fixed;
	top: 0;
	min-height: 4rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: var(--color-purple-dark);
	z-index: 1000;
}

header h1,
header .buttonMenuContainer {
	position: absolute;
	top: 1rem;
}

header h1 {
	left: 40%;
	font-family: var(--font-title-head);
}

header .menuSection {
	width: 100%;
}

header .buttonMenuContainer {
	right: 2rem;
	display: flex;
}

header #menuCheckbox {
	display: none;
}

header label {
	position: relative;
	display: block;
	height: 2rem;
	width: 2rem;
}

header label span {
	position: absolute;
	display: block;
	height: 0.125rem;
	width: 2rem;
	background-color: var(--color-white);
	border-radius: 2rem;
	transition: 0.25s ease-in-out;
}

header label span:nth-child(1) {
	top: 0.5rem;
}

header label span:nth-child(2) {
	top: 1rem;
}

header label span:nth-child(3) {
	top: 1.5rem;
}

header #menuCheckbox:checked + label span:nth-child(1) {
	top: 1rem;
	transform: rotate(-45deg);
}

header #menuCheckbox:checked + label span:nth-child(2) {
	opacity: 0;
}

header #menuCheckbox:checked + label span:nth-child(3) {
	top: 1rem;
	transform: rotate(45deg);
}

header #menuCheckbox:checked ~ nav .menu {
	transform: translateX(-100vw);
	transition: 0.5s ease transform;
}

header nav {
	margin-top: 4rem;
}

header nav .menu,
header nav .menu li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
}

header nav .menu {
	position: absolute;
	left: 100%;
	transform: translateX(100vw);
	transition: 0.5s ease transform;
}

header nav .menu li {
	border-top: 0.125rem solid var(--color-purple);
	background-color: var(--color-purple-dark);
}

header nav .menu li a {
	padding: 1rem;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

main,
.left,
.right,
.buttons,
#sectionOne,
#introduction,
#team,
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}

#sectionOne {
	margin-top: 6rem;
}

#sectionOne .box-title {
	width: 22rem;
	text-align: left;
	padding: 1.6rem 4rem;
	margin-top: 1.5rem;
}

.background-dark {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	border-radius: 1.25rem;
	background-color: var(--color-transparency);
}

h1 {
	font-size: 1.25rem;
	text-shadow: 0.125rem 0.125rem 0.125rem var(--color-black);
}

h1 .highlight {
	font-size: 2.5rem;
}

.highlight {
	font-family: var(--font-highlights);
}

#sectionOne .description {
	margin: 15rem auto 0;
	width: 15rem;
}

.description {
	font-size: 1rem;
}

.button {
	margin-top: 0.75rem;
	width: 17.5rem;
	height: 2.7rem;
	border-radius: 1rem;
	border: 0.05rem solid var(--color-coral);
	background-color: var(--color-coral);
	color: var(--color-white);
}

.filled {
	background-color: var(--color-transparency);
	color: var(--color-coral);
}

.main-image {
	position: absolute;
	top: 14rem;
}

.image {
	width: 19rem;
}

img {
	width: 100%;
	height: 100%;
	opacity: 0.8;
}

#introduction {
	width: 22rem;
	padding: 1.6rem;
}

#introduction .right {
	align-items: flex-start;
}

#introduction h2.highlight {
	width: 80%;
	font-size: 1.5rem;
	text-shadow: 0.05rem 0.05rem 0.05rem var(--color-black);
}

#introduction .description {
	margin: 1rem auto;
}

#statistics,
#statistics .left,
#statistics .right,
#statistics .box-statistic {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#statistics {
	background: var(--linear-gradient);
	width: 100%;
	height: 70rem;
}

#statistics .left,
#statistics .right {
	width: 100%;
	height: 35rem;
}

#statistics .box-statistic {
	justify-content: space-evenly;
	width: 15rem;
	height: 15rem;
}

#statistics .box-statistic h3.highlight {
	font-size: 3rem;
}

#team header {
	height: 4rem;
}

#team .description {
	font-family: var(--font-title-head);
}

#team .profile-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.box-profile {
	width: 60%;
	margin-top: 2rem;
}

.box-profile > img {
	width: 100%;
	height: auto;
	border-radius: 1rem;
}

footer {
	height: 30rem;
}

footer img {
	height: 80%;
	width: auto;
}

footer p {
	margin-bottom: 0;
	padding-top: 1rem;
}

#footerTitle {
	font-family: var(--font-title-head);
}

footer .credits {
	font-size: smaller;
}

#scrollToTop {
	position: fixed;
	right: 2rem;
	bottom: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3rem;
	width: 3rem;
	border-radius: 2rem;
	font-size: 2.5rem;
	background-color: var(--color-coral);
	cursor: pointer;
}

@media (min-width: 720px) {
	body {
		text-align: left;
	}

	#sectionOne,
	#introduction {
		justify-content: center;
		width: 50rem;
	}

	#sectionOne {
		flex-direction: row;
	}

	#sectionOne {
		margin-top: 3rem;
	}

	#sectionOne .left,
	#sectionOne .right {
		align-items: flex-start;
	}

	#sectionOne .left {
		z-index: 1;
		margin-top: 6rem;
	}

	#sectionOne .description {
		padding-left: 1rem;
		margin: 1rem 0;
		width: 25rem;
	}

	#sectionOne .buttons {
		align-items: flex-start;
		width: 24rem;
		margin-right: 12rem;
	}

	#sectionOne .main-image {
		margin-left: -20%;
		width: 25rem;
		top: 5.8rem;
	}

	#introduction {
		flex-direction: row-reverse;
		height: 24rem;
	}

	#introduction .right {
		height: 100%;
		width: 80%;
		justify-content: center;
	}

	#statistics {
		align-items: center;
		flex-direction: row;
		height: 35rem;
	}

	#statistics .left,
	#statistics .right {
		width: 40%;
		margin: auto;
	}

	#statistics .left {
		align-items: flex-end;
	}

	#statistics .right {
		align-items: flex-start;
	}

	#team {
		text-align: center;
	}

	#team .profile-container {
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		width: 100%;
	}

	#team .profile-container .box-profile {
		width: 18%;
	}

	footer {
		flex-direction: row;
	}

	footer .right {
		align-items: flex-end;
		margin-right: 2rem;
	}

	.footerImage {
		height: 50vh;
		max-width: auto;
	}

	#footerTitle {
		margin: 2rem 0;
	}
}

@media (min-width: 1280px) {
	header .buttonMenuContainer {
		position: static;
		display: none;
	}

	header h1 {
		left: 15%;
	}

	header nav {
		width: 70vw;
		margin-top: 0;
		margin-left: 30vw;
	}

	header nav .menu,
	header nav .menu li {
		flex-direction: row;
		position: static;
		transform: none;
		height: 4rem;
		width: auto;
	}

	header nav .menu li a {
		width: 8rem;
	}

	#sectionOne .main-image {
		margin-left: -12%;
		width: 30rem;
		top: 5.8rem;
	}

	#sectionOne .left {
		margin-top: 10rem;
		margin-left: -6rem;
	}

	#sectionOne .buttons {
		flex-direction: row;
		justify-content: space-between;
		width: 36rem;

	}

	#introduction{
		width: 65rem;
	}

	#statistics,
	#statistics .left,
	#statistics .right,
	.profile-container {
		flex-direction: row;
		align-items: center;
		height: 20rem;
	}

	#statistics .left,
	#statistics .right {
		width: 100%;
		margin: 0;
	}
}
